<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body},'vets')}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>

<!--/*thymesVar id="vet" type="guru.springframework.sfgurupetclinic.model.Vet"*/-->
<h2>Veterinarians</h2>

<table class="table table-striped" id="vets">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Specialties</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vetsList}">
        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.firstName + ' ' + vet.lastName}">Joe Buck</td>
        <td><span th:each="spec : ${vet.getSpecialities()}" th:text="${spec.description + '  '}"> specialities</span>
            <span th:if="${vet.getSpecialities()?.size() <= 0}">none</span></td>
    </tr>
    </tbody>
</table>

</body>
</html>